$font-stack:    'Barlow Semi Condensed', sans-serif;
$primary-color: #333;

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$border-outline: 3px solid hsl(217, 16%, 45%);

$main-radial-gradient: radial-gradient(circle at top center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$scissors-lienar-gradient: linear-gradient(to top,  hsl(39, 89%, 49%), 1%, hsl(40, 84%, 53%));
$paper-lienar-gradient: linear-gradient(to top,  hsl(230, 89%, 62%), 1%, hsl(230, 89%, 65%));
$rock-lienar-gradient: linear-gradient(to top,  hsl(349, 71%, 52%), 1%, hsl(349, 70%, 56%) );
$lizard-lienar-gradient: linear-gradient(to top,  hsl(261, 73%, 60%), 1%, hsl(261, 72%, 63%));
$spock-lienar-gradient: linear-gradient(to top,  hsl(189, 59%, 53%), 1%, hsl(189, 58%, 57%));

$icon-width: 30px;
$lizard-icon-width: 40px;
$pentagon-width: 200px;
$grid-dim: ($pentagon-width / 2);
$grid-half-dim: ($grid-dim / 2);
$grid-quarter-dim: ($grid-dim / 4);
$grid-spacer: ($grid-half-dim / 10);

$game-window-height: 400px;
$game-window-padding: 4rem 0;
$game-icon-width: 50px;




.attribution {
  font-size: 11px; text-align: center; 

  a { 
    color: hsl(228, 45%, 44%); 
  }
}

.wrapper {
  display:block;
  position: relative;
  
  .main-background {
    background-image: $main-radial-gradient;
    top: 0;
    height: 1200px;
    display:flex;
    flex-direction: column;
    
    .main-title {
      border: $border-outline;
      border-radius: 10px;
      display:flex;
      justify-content: space-between;
      margin-top:60px;
      margin-left:auto;
      margin-right:auto;
      padding:1rem;
      width:80%;
      
      .options-list {
        list-style: none;
        font-family: $font-stack;
        font-weight:700;
        
        li {
          font-size: 20px;
          color: white;
          text-transform: uppercase;
        }
      }
      
      .scoreboard {
        align-items: center;      
        background-color: white;
        border-radius: 10px;
        font-family: $font-stack;
        text-transform: uppercase;
        width: 4rem;
        display:flex;
        flex-direction: column;
        padding: 1rem 1.5rem;
        
        p {
          letter-spacing: 1.5px;
          font-size:15px;
          font-weight:600;
          color: hsl(229, 64%, 46%);
        }
        
        #score-output{
          font-size: 60px;
          font-weight:700;
          color: $dark-text;
        }
      }
    }

    .selection-layout {
      padding: $game-window-padding;
      height: $game-window-height;
      display: grid;
      grid-template-columns:  [line1] auto [line2] $grid-quarter-dim [line3] $grid-quarter-dim [line4] $grid-quarter-dim
                              [line5] $grid-quarter-dim [line6] $grid-quarter-dim 
                              [line7] $grid-half-dim 
                              [line8] $grid-quarter-dim [line9] $grid-quarter-dim 
                              [line10] $grid-quarter-dim [line11] $grid-quarter-dim [line12] $grid-quarter-dim [line13] auto [end];

      grid-template-rows: [row1] $grid-half-dim [row2] $grid-quarter-dim [row3] $grid-quarter-dim [row4] $grid-half-dim [row5] $grid-quarter-dim [row6] $grid-quarter-dim [row7] $grid-half-dim [row8] $grid-half-dim [row9] $grid-dim [row10] auto [end];

      .pentagon {
        margin-left: auto;
        margin-right: auto;
        grid-column: line3 / line12;
        grid-row-start: row2;
        width: $pentagon-width;
        z-index: 1;
      } 

      .circlebase {
        border-radius: 50%;
        padding:10px;
        border: 12px solid transparent;       
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        z-index: 10;
      }
      
      .icon {
        width: $icon-width;
      }

      .lizard-icon {
        width: $lizard-icon-width;
      }

      .rock-div {
        grid-column: line8 / span 4;
        grid-row: row7 / span 2;
        background: 
        linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
        $rock-lienar-gradient border-box;
        box-shadow: inset 0 3px lightgray, 0 3px 0 0 hsl(349, 71%, 52%), 0 2px 0 0 hsl(349, 71%, 52%), 0 1px 0 0 hsl(349, 71%, 52%) ; 
      }
      
      .paper-div {
        grid-column: line9 / span 4;
        grid-row: row3 / span 3;
        background: 
        linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
        $paper-lienar-gradient border-box;
        box-shadow: inset 0 3px lightgray, 0 3px 0 0 hsl(230, 89%, 62%), 0 2px 0 0 hsl(230, 89%, 62%), 0 1px 0 0 hsl(230, 89%, 62%) ; 
      }

      .scissors-div {
        grid-column: line6 / span 3;
        grid-row: row1 / span 3;
        background: 
        linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
        $scissors-lienar-gradient border-box;
        box-shadow: inset 0 3px lightgray, 0 3px 0 0 hsl(39, 89%, 49%), 0 2px 0 0 hsl(39, 89%, 49%), 0 1px 0 0 hsl(39, 89%, 49%) ; 
      }

      .lizard-div {
        grid-column: line3 / span 4;
        grid-row: row7 / span 2;
        background: 
        linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
        $lizard-lienar-gradient border-box;
        box-shadow: inset 0 3px lightgray, 0 3px 0 0 hsl(261, 73%, 60%), 0 2px 0 0 hsl(261, 73%, 60%), 0 1px 0 0 hsl(261, 73%, 60%) ; 
      }

      .spock-div {
        grid-column: line2 / span 4;
        grid-row: row3 / span 3;
        background: 
        linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
        $spock-lienar-gradient border-box;
        box-shadow: inset 0 3px lightgray, 0 3px 0 0 hsl(189, 59%, 53%), 0 2px 0 0 hsl(189, 59%, 53%), 0 1px 0 0 hsl(189, 59%, 53%) ; 
      }
    }

    .game-layout {
      padding: $game-window-padding;
      height: $game-window-height;
      display: none;
      
      .selection-panel {
        width: 100%;
        display: flex;
        justify-content: space-around;
        
        .user-selection {
          display: flex;
          flex-direction: column;

          .circlebase {
            border-radius: 50%;
            padding:10px;
            border: 12px solid transparent;       
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            z-index: 10;
          }
          
           .user-icon  {
            width: $game-icon-width;
          }
        }
        
        .house-selection {
          display: flex;
          flex-direction: column;

          .circlebase {
            border-radius: 50%;
            padding:10px;
            border: 12px solid transparent;       
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            z-index: 10;
          }
          
           .house-icon  {
            width: $game-icon-width;
          }
        }

        .rock-div {
          grid-column: line8 / span 4;
          grid-row: row7 / span 2;
          background: 
          linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
          $rock-lienar-gradient border-box;
          box-shadow: inset 0 3px lightgray, 0 3px 0 0 hsl(349, 71%, 52%), 0 2px 0 0 hsl(349, 71%, 52%), 0 1px 0 0 hsl(349, 71%, 52%) ; 
        }
        
        .paper-div {
          grid-column: line9 / span 4;
          grid-row: row3 / span 3;
          background: 
          linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
          $paper-lienar-gradient border-box;
          box-shadow: inset 0 3px lightgray, 0 3px 0 0 hsl(230, 89%, 62%), 0 2px 0 0 hsl(230, 89%, 62%), 0 1px 0 0 hsl(230, 89%, 62%) ; 
        }
  
        .scissors-div {
          grid-column: line6 / span 3;
          grid-row: row1 / span 3;
          background: 
          linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
          $scissors-lienar-gradient border-box;
          box-shadow: inset 0 3px lightgray, 0 3px 0 0 hsl(39, 89%, 49%), 0 2px 0 0 hsl(39, 89%, 49%), 0 1px 0 0 hsl(39, 89%, 49%) ; 
        }
  
        .lizard-div {
          background: 
          linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
          $lizard-lienar-gradient border-box;
          box-shadow: inset 0 3px lightgray, 0 3px 0 0 hsl(261, 73%, 60%), 0 2px 0 0 hsl(261, 73%, 60%), 0 1px 0 0 hsl(261, 73%, 60%) ; 
        }
  
        .spock-div {
          grid-column: line2 / span 4;
          grid-row: row3 / span 3;
          background: 
          linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
          $spock-lienar-gradient border-box;
          box-shadow: inset 0 3px lightgray, 0 3px 0 0 hsl(189, 59%, 53%), 0 2px 0 0 hsl(189, 59%, 53%), 0 1px 0 0 hsl(189, 59%, 53%) ; 
        }
      }
    }
    
    .rules-button {
      border: $border-outline;
      border-radius: 10px;
      margin-left:auto;
      margin-right:auto;
      font-family: $font-stack;
      font-weight:600;
      font-size: 20px;
      width:50%;
      color: white;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 3px;
      padding: 1rem 0; 
    }


  } 

  .rules-popup {
    display: none;
    position: absolute;
    top: 0;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 20;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: $font-stack;
      font-size: 60px;
      font-weight:700;
      color: $dark-text;
      text-transform: uppercase;
    }

    h2 {
      font-family: $font-stack;
      font-size: 30px;
      font-weight:700;
      color: $dark-text;
      text-transform: uppercase;
    }

    h3 {
      font-family: $font-stack;
      font-size: 25px;
      font-weight:700;
      color: $dark-text;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }

}
  
  