$font-stack:    'Barlow Semi Condensed', sans-serif;
$primary-color: #333;

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$border-outline: 3px solid hsl(217, 16%, 45%);

$main-radial-gradient: radial-gradient(circle at top center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$scissors-linear-gradient: linear-gradient(to top,  hsl(39, 89%, 49%), 1%, hsl(40, 84%, 53%));
$paper-linear-gradient: linear-gradient(to top,  hsl(230, 89%, 62%), 1%, hsl(230, 89%, 65%));
$rock-linear-gradient: linear-gradient(to top,  hsl(349, 71%, 52%), 1%, hsl(349, 70%, 56%) );
$lizard-linear-gradient: linear-gradient(to top,  hsl(261, 73%, 60%), 1%, hsl(261, 72%, 63%));
$spock-linear-gradient: linear-gradient(to top,  hsl(189, 59%, 53%), 1%, hsl(189, 58%, 57%));
$winner-box-shadow: 0 0 20px 20px hsl(214, 47%, 43%),
                    0 0 40px 40px hsl(214, 47%, 37%),
                    0 0 60px 60px hsl(214, 47%, 30%),
                    0 0 80px 80px hsl(214, 47%, 23%);

$icon-width-mobile: 30px;
$icon-width-desktop: 45px;
$lizard-icon-mobile: 40px;
$lizard-icon-desktop: 65px;
$pentagon-width-mobile: 200px;
$pentagon-width-desktop: 350px;

$game-window-height-mobile: 350px;
$game-window-height-desktop: 550px;
$game-window-padding: 2rem 0;
$game-window-padding-desktop: 6rem 0;
$game-icon-width: 50px;

h1 {
  font-family: $font-stack;
  font-size: 60px;
  font-weight:700;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-family: $font-stack;
  font-size: 20px;
  font-weight:700;
  color: $dark-text;
  text-transform: uppercase;
}

h3 {
  font-family: $font-stack;
  font-size: 14px;
  font-weight:700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  text-align: center;
  z-index: 10;
}

@mixin circlebase($height: auto, $borderthickness: 12px) {
  border-radius: 50%;
  padding:10px;
  border: $borderthickness solid transparent;       
  width: 100%;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
}

@mixin choicestyle($bordergradientcolor, $boxshadowcolor) {
  background: 
  linear-gradient(#fff,#fff) padding-box, /*this is your white background*/
  $bordergradientcolor border-box;
  box-shadow: inset 0 3px lightgray, 0 3px 0 0 $boxshadowcolor, 0 2px 0 0 $boxshadowcolor, 0 1px 0 0 $boxshadowcolor ; 
}

@mixin selectionstyle($display: flex) {
  display: $display;
  flex-direction: column;
  align-items: center;
  width: 130px;
  height: auto;
  z-index: 20;          
}

@mixin buttonstyle($border, $width, $color, $display, $backgroundcolor) {
  border: $border;
  border-radius: 10px;
  margin-left:auto;
  margin-right:auto;
  font-family: $font-stack;
  font-weight:600;
  font-size: 20px;
  width: $width;
  color: $color;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  padding: 1rem 0;
  display: $display;
  background-color: $backgroundcolor;
}

@mixin selectiongrid($pentagon-width) {
  $grid-dim: ($pentagon-width / 2);
  $grid-half-dim: ($grid-dim / 2);
  $grid-quarter-dim: ($grid-dim / 4);
  $grid-spacer: ($grid-half-dim / 10);
  grid-template-columns:  [line1] auto [line2] $grid-quarter-dim [line3] $grid-quarter-dim [line4] $grid-quarter-dim
  [line5] $grid-quarter-dim [line6] $grid-quarter-dim 
  [line7] $grid-half-dim 
  [line8] $grid-quarter-dim [line9] $grid-quarter-dim 
  [line10] $grid-quarter-dim [line11] $grid-quarter-dim [line12] $grid-quarter-dim [line13] auto [end];

  grid-template-rows: [row1] $grid-half-dim [row2] $grid-quarter-dim [row3] $grid-quarter-dim [row4] $grid-half-dim [row5] $grid-quarter-dim [row6] $grid-quarter-dim [row7] $grid-half-dim [row8] $grid-half-dim [row9] $grid-dim [row10] auto [end];

}

.wrapper {
  display:block;
  position: relative;
  height: 100vh;

  .transparent {
    position: absolute;
    top: 0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.7);
    z-index: 19;
  }
  
  .main-background {
    background-image: $main-radial-gradient;
    top: 0;
    display:flex;
    flex-direction: column;
    height: 100vh;
    
    .main-title {
      border: $border-outline;
      border-radius: 10px;
      display:flex;
      justify-content: space-between;
      margin-top:2rem;
      margin-left:auto;
      margin-right:auto;
      padding:1rem;
      width:80%;
      min-width: 250px;

      .logo {
        height: 5rem;
        width: 5rem;
      }
      
      .options-list {
        list-style: none;
        font-family: $font-stack;
        font-weight:700;
        
        li {
          font-size: 20px;
          color: white;
          text-transform: uppercase;
        }
      }
      
      .scoreboard {
        align-items: center;      
        background-color: white;
        border-radius: 10px;
        font-family: $font-stack;
        text-transform: uppercase;
        width: 3rem;
        display:flex;
        flex-direction: column;
        padding: 1rem 1.5rem;
        
        p {
          letter-spacing: 1.5px;
          font-size:14px;
          font-weight:600;
          color: hsl(229, 64%, 46%);
        }
        
        #score-output{
          font-size: 36px;
          font-weight:700;
          color: $dark-text;
        }
      }
    }

    .selection-layout {
      padding: $game-window-padding;
      height: $game-window-height-mobile;
      display: grid;
      @include selectiongrid($pentagon-width-mobile);

      .pentagon {
        margin-left: auto;
        margin-right: auto;
        grid-column: line3 / line12;
        grid-row-start: row2;
        width: $pentagon-width-mobile;
        z-index: 1;
      } 

      .circlebase {
        @include circlebase();       
      }
      
      .icon {
        width: $icon-width-mobile;
      }

      .lizard-icon {
        width: $lizard-icon-mobile;
      }

      .rock-div {
        grid-column: line8 / span 4;
        grid-row: row7 / span 2;
        @include choicestyle($rock-linear-gradient, hsl(349, 71%, 52%));
      }
      
      .paper-div {
        grid-column: line9 / span 4;
        grid-row: row3 / span 3;
        @include choicestyle($paper-linear-gradient, hsl(230, 89%, 62%));
      }

      .scissors-div {
        grid-column: line6 / span 3;
        grid-row: row1 / span 3;
        @include choicestyle($scissors-linear-gradient, hsl(39, 89%, 49%));
      }

      .lizard-div {
        grid-column: line3 / span 4;
        grid-row: row7 / span 2;
        @include choicestyle($lizard-linear-gradient, hsl(261, 73%, 60%));
      }

      .spock-div {
        grid-column: line2 / span 4;
        grid-row: row3 / span 3;
        @include choicestyle($spock-linear-gradient, hsl(189, 59%, 53%));
      }
    }

    .game-layout {
      padding: $game-window-padding;
      height: $game-window-height-mobile;
      display: none;
      
      .selection-panel {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        
        .selection-placeholder {
          background-color: $dark-text;
        }

        .user-selection {
          @include selectionstyle();

          .circlebase {
            @include circlebase(130px);          
          }
          
           .user-icon  {
            width: $game-icon-width;
          }
        }
        
        .house-selection {
          @include selectionstyle(flex);

          .circlebase {
            @include circlebase(130px);          
          }
          
           .house-icon  {
            display: none;
            width: $game-icon-width;
          }
        }

        .rock-div {
          @include choicestyle($rock-linear-gradient, hsl(349, 71%, 52%)); 
        }
        
        .paper-div {
          @include choicestyle($paper-linear-gradient, hsl(230, 89%, 62%)); 
        }
  
        .scissors-div {
          @include choicestyle($scissors-linear-gradient, hsl(39, 89%, 49%)); 
        }
  
        .lizard-div {
          @include choicestyle($lizard-linear-gradient, hsl(261, 73%, 60%)); 
        }
  
        .spock-div {
          @include choicestyle($spock-linear-gradient, hsl(189, 59%, 53%));
        }

        .winner-box-shadow {
          box-shadow: $winner-box-shadow;
        }

        .winner-fade-back {
          z-index: 1;
        }
      }
    }

    .results-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 0;

      .victory, .defeat, .draw {
        display: none;
      }
      
      .play-again {
        margin-top: 30px;
        @include buttonstyle(white, 60%, $dark-text, none, white);
      }
    }
    
    .rules-button {
      @include buttonstyle($border-outline, 60%, white, block, transparent);
      min-width: 200px;
    }

  } 

  .rules-popup {
    display: none;
    position: absolute;
    top: 0;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 20;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  }

  .attribution {
    font-size: 11px; text-align: center; 
  
    a { 
      color: hsl(228, 45%, 44%); 
    }
  }

}

@media all and (min-width: 700px) {
  .wrapper {
    .main-background {
      .main-title {
        margin-top:80px;
        border-radius: 15px;
        width: 50%;
        max-width: 600px;
        padding: 1rem 1.5rem 0;

        .logo {
          width: 9rem;
          height: 9rem;
        }

        .scoreboard {
          width: 6rem;
          justify-content: space-evenly;

          p {
            font-size: 20px;
          }

          #score-output {
            font-size: 70px;
          }
        }
      }

      .selection-layout {
        @include selectiongrid($pentagon-width-desktop);
        padding: $game-window-padding-desktop;

        .pentagon {
          width: $pentagon-width-desktop;
        }

        .circlebase {
          @include circlebase(auto , 18px);       
        }

        .icon {
          width: $icon-width-desktop;
        }
  
        .lizard-icon {
          width: $lizard-icon-desktop;
        }
  
      }

      .game-layout {
        .selection-panel {
          height: 400px;
          align-content: center;
          .user-selection {
            flex-direction: column-reverse;
            width: 200px;
            
            .circlebase {
              @include circlebase(200px, 18px);       
            }
          }

          .house-selection {
            flex-direction: column-reverse;
          }
        }
      }

      .rules-button {
        margin-top: 3rem;
        margin-left:0;
        margin-right:2rem;
        width: 150px;      
        align-self: flex-end;
      }
    }

    .rules-popup{
      max-width: 400px;
      max-height: 400px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      flex-direction: row;
      justify-content: space-evenly;
      padding: 2rem 1rem 3.5rem;

      h2 {
        align-self: flex-start;
        font-size: 35px;
      }

      .rules-div {
        align-self: flex-end;
        margin-left: -85px;
        margin-right: -20px;
      }

      .close-div {
        align-self: flex-start
      }
    }
  }
}
  
  